{% extends 'base.html' %}


{% block content %}
	{% if report %}

		{{ report.id }}
		{{ report.date}}
	<form method="POST">
		{% csrf_token %}
		
		<div class="row g-4 align-items-center">
			<div class="col-auto">
				<input type="text" placeholder={{report.date}} value= "{{ report.date}}"class="form-control" name= "date">
				<br/>
				<input type="text" placeholder={{report.number}} value= "{{ report.number}}" class="form-control" name= "number">
				<br/>
				<input type="text" placeholder={{report.crew}} value= "{{ report.crew}}" class="form-control" name= "crew">
				<br/>
				<input type="text" placeholder={{report.status}}  value= "{{ report.status}}"class="form-control" name= "status">
				<br/>
				<input type="text" placeholder={{report.unit}}  value= "{{ report.unit}}"class="form-control" name= "unit">
				<br/>
				<button type="submit" class="btn btn-secondary mb-3">Save Changes</button>


			</div>
		</div>
	</form>








	{% endif %}

{% endblock %}